doctype html
html
  head
    title Inventario de productos
    link(rel='stylesheet', href='/menu-navegacion.css')
    link(rel='stylesheet', href='/Style.css')
   
  body
    header
      nav.stylenav
        ul
          li: a(href="/principal") Inicio
          li: a(href="/comprar") Comprar
          li: a(href="/vender") Vender
          li: a(href="/ingresar") Ingresar producto
          li: a(href="/modificar") Modificar producto
          li: a(href="/buscar") Buscar producto
          li: a(href="/eliminar") Eliminar producto

form(action="/agregar_producto" method="post")
  #Panel1(style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 469px; width: 50%; max-width: 691px")
    label#Label1(style="font-size: XX-Large; text-align: center; margin-top: 15px") Vender producto
    br
    label#Label2(style="font-size: X-Large") Nombre del producto
    input#nombre(name="nombre" type="text" style="width: 100%; margin-top: 10px;")
    label#Label3(style="font-size: X-Large") Descripción
    input#descripcion(name="descripcion" type="text" style="width: 100%; margin-top: 10px;")
    label#Label4(style="font-size: X-Large") Cantidad
    input#cantidad(name="precio" type="text" style="width: 100%; margin-top: 10px;")
    label#Label5(style="font-size: X-Large") Precio
    input#precio(name="cantidad" type="text" style="width: 100%; margin-top: 10px;")
    label#Label6(style="font-size: X-Large") URL imagen
    input#imagenURL(name="imagenURL" type="text" style="width: 100%; margin-top: 10px;")
    input(type="submit" value="Vender" style="width: 100%; margin: 10px auto; background-color: #006eff; color: white; padding: 10px; border: none; border-radius: 5px; cursor: pointer;")
    label#lblEstado(style="text-align: center; margin-top: 10px;")

